1. Object-Oriented Programming: Design a Library System

Question:
Design a simple library management system in Python with the following classes:

• Book: Represents a book with title, author, and isbn.

• Library: Allows adding and removing books and displaying available books.
Implement the Library class with methods:

• add_book(book: Book): Adds a book to the collection.

• remove_book(isbn: str): Removes a book using its ISBN.

• display_books(): Displays all books in the library.

2.Pandas: DataFrame Manipulation

Question:
Given a Pandas DataFrame containing sales data, perform the following operations:
import pandas as pd
data = {
'Product': ['A', 'B', 'A', 'C', 'B', 'C'],
'Sales': [100, 200, 150, 300, 250, 400],
'Region': ['North', 'South', 'North', 'East', 'South', 'East']
}
df = pd.DataFrame(data)

1. Find the total sales per product.

2. Find the highest sales value per region.
3. Add a new column Discounted Price which is 90% of the sales value.

In [4]:
import pandas as pd

data ={
    'Product':['A', 'B', 'A', 'C', 'B', 'C'],
    'Sales':[100, 200, 150, 300, 250, 400],
    'Region':['North', 'South', 'North', 'East', 'South', 'East']
}

df = pd.DataFrame(data)
df

  Product  Sales Region
0       A    100  North
1       B    200  South
2       A    150  North
3       C    300   East
4       B    250  South
5       C    400   East

In [5]:
# 1.Find the total sales per product.

df.groupby('Product')['Sales'].sum()

Product
A    250
B    450
C    700
Name: Sales, dtype: int64

In [6]:
# 2. Find the highest sales value per region.

df.groupby('Region')['Sales'].max()

Region
East     400
North    150
South    250
Name: Sales, dtype: int64

In [23]:
# 3. Add a new column Discounted Price which is 90% of the sales value.

df['Discounted Price'] = df['Sales']*0.9

df

  Product  Sales Region  Discounted Price
0       A    100  North              90.0
1       B    200  South             180.0
2       A    150  North             135.0
3       C    300   East             270.0
4       B    250  South             225.0
5       C    400   East             360.0

3. Data Structures: Reverse Words in a String

Question:

Write a function that reverses the words in a given string. Do not use built-in reverse() or
slicing.

Example:
Input: "Python is great"

Output: "great is Python"

In [17]:
def reverse_words(s):
    words = s.split()
    reverse_words = words[::-1]
    return " ".join(reverse_words)

s = "Python is great"
print(reverse_words(s))

great is Python

4. Algorithm: Find Missing Number in an Array

Question:
Given a list of n-1 numbers in the range 1 to n, find the missing number.

Example:

Input: [1, 2, 4, 5, 6]

Output: 3

In [19]:
def missing_number(s):
    n = len(s)+1
    total_sum = n*(n+1)//2
    actual_sum = sum(s)
    return total_sum - actual_sum
s = [1, 2, 4, 5, 6]
print(missing_number(s))

3

5. Multithreading: Sum of Squares Using Threads

Question:

Write a Python program that calculates the sum of squares of numbers from 1 to n using
multithreading.